---
title: Andrii Liashenko
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 ">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 text-center pl-0">
      <img class="intro" height="420px" alt="andrii liashenko photo" src="{{site.baseurl}}/assets/images/avatar.jpeg">      
    </div>
    <div class="col-md-6">
      <div class="about-info">Hi 👋,<br> <span class="info-name">I'm Andrii,</span></div>
         <p>Software Engineer with <b>6+</b> years of experience.</p>
         Currently working at Datadog on CI Observability.<br>
         I'm experienced in <span class="font-weight-bold">Backend development, Cloud, AWS, Distributed systems, Databases, DevOps, CI/CD</span>.
         
      {% include experience.html %}
    </div>
  </div>
</div>
{% endif %}

  {% for post in site.posts limit:3 %}
      <div class="col mb-5">
      {% include postbox.html %}
      </div>
  {% endfor %}
  <a href="{{site.baseurl}}/blog" class="btn btn-primary text-white px-5 btn-lg">All Posts</a>